!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Workout959
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
  %nav.navbar.navbar-default.navbar-static-top.navbar-toggleable-md.navbar-light.bg-faded
    %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNav", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    %h1.navbar-brand.mb-0 Workout 959
    #navbarNavAltMarkup.collapse.navbar-collapse
      .navbar-nav
        =link_to "Log In", root_path, class: "nav-item nav-link"
        =link_to "Sign Up", root_path, class: "nav-item nav-link"
  .container-fluid
    .jumbotron
      = yield
